
<form name="editForm">
	<input type="text" ng-model="newFirstName" size="30" placeholder="add firstname here">
	<br/>
	<input type="text" ng-model="newName" size="30" placeholder="add name here">
	<br/>
	<input type="text" ng-model="newBirthDate" size="30" placeholder="add birthdate here">
	<br/>
	<input type="text" ng-model="newAddress" size="30" placeholder="add address here">
	<br/>
	<input type="text" ng-model="newTelNumb" size="30" placeholder="add telefon number here">
	
	<br><br>
	<a href="#/spieler" class="btn">Cancel</a>
	<button ng-click="addPlayer()" class="btn btn-primary">Save</button>		
</form>
