<div class="panel panel-primary">
	<div class="panel-heading">VB Training am {{weekDay}}</div>

	<!-- Table -->
	<table class="table table-condensed table-bordered">
		<thead>
			<tr>
				<th></th>
				<th></th>
				<th ng-repeat="date in allTrainingDates | forWeekday:weekDay" class="verticaltext smallcell" >{{date | shortDate}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="player in players | withDays:allTrainingDates:weekDay |orderBy:'firstName'">
				<td>{{player.firstName}} {{player.name}}</td>
				<td>{{player.birthdate}}</td>
				<td class="smallcell" ng-repeat="date in allTrainingDates | forWeekday:weekDay">
					<span ng-if="player.abende.indexOf(date) != -1"><i class="glyphicon glyphicon-ok"></i></span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
