<div class="panel panel-primary">
	<div class="panel-heading">VB Training am {{weekDay}}</div>

</div>
	<!-- Table -->
	
	<div class="table-responsive">
	<table class="table table-condensed table-bordered">
		<thead>
			<tr class="verticalheader" >
				<th></th>
				<th></th>
				<th ng-repeat="date in allTrainingDates | forWeekday:weekDay" class="text-right verticaltext smallcell" >{{date | shortDate}}</th>
				<th class="text-right"><span class="glyphicon glyphicon-stats"></span>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="player in players | withDays:allTrainingDates:weekDay |orderBy:'firstName'">
				<td>{{player.firstName}} {{player.name}}</td>
				<td class="text-right">{{player.birthdate}}</td>
				<td class="smallcell text-center" ng-repeat="date in allTrainingDates | forWeekday:weekDay">
					<span ng-if="player.abende.indexOf(date) != -1"><i class="glyphicon glyphicon-ok"></i></span>
				</td>
				<td class="text-right">{{player.abende.length}}</td>
			</tr>

			<tr>
				<td colspan="2">Summe</td>
				
				<td class="smallcell text-right" ng-repeat="date in allTrainingDates | forWeekday:weekDay">
					{{sumOfAttendeesForDate(date)}}
				</td>
				<td class="smallcell text-right">{{sumOfAttendeesForAllDates()}}</td>
			</tr>

		</tbody>
	</table>
	</div>
