
<form class="form-inline" role="form" button ng-click="donot($event)">
	
	<p class="help-block">Mail the data to your address to create a	backup.</p>
	<div class="row">
		<div class="col-lg-6">
			<div class="input-group">
				<span class="input-group-btn">
					<button ng-click="send()" class="btn btn-default">Send</button>
				</span> 
				<input type="text" class="form-control" placeholder={{email}} >
			</div>
			<!-- /input-group -->
		</div>
		<!-- /.col-lg-6 -->
	</div>

	<br>

	<div class="panel panel-primary">
		<textarea class="form-control" rows="15" disabled>{{ playerData }}</textarea>
		
		<div class="panel-footer clearfix">
        <div class="pull-right">
			<button ng-click="resetAll()" class="btn btn-danger">Reset</button>
			<button ng-click="defaultValues()" class="btn btn-danger">Defaults</button>
        </div>
    </div>
	</div>

</form>
